* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-la-es.es.dix -text
/apertium-la-es.la-es.dix -text
/apertium-la-es.la-es.t1x -text
/apertium-la-es.la-es.t3x -text
/apertium-la-es.la.acx -text
/apertium-la-es.la.dix -text
/apertium-la-es.post-es.dix -text
/autogen.sh -text
/configure.ac -text
/la-es.prob -text svneol=unset#unset
/modes.xml -text
