/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config
/config.in
/config.log
/config.status
/configure
/install-sh
/la-es.autobil.bin
/la-es.autogen.bin
/la-es.automorf.bin
/la-es.autopgen.bin
/la-es.mode
/la-es.t1x.bin
/la-es.t2x.bin
/la-es.t3x.bin
/missing
/modes
/stamp-h1
